<div class="containar">
  <div class="heading">
    <span class="title">Examination Summary</span>
  </div>
  <div>
    <table>
      <tr>
        <th>Exam Code</th>
        <th>MAC-CFY6-Q5HK-GG0V</th>
      </tr>
      <tr>
        <td>Assigned Copies</td>
        <td>49</td>
      </tr>
      <tr>
        <td>Scanned Copies</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Assigned Date</td>
        <td>22 January 2020</td>
      </tr>
      <tr>
        <td>Target Date</td>
        <td>22 March 2020</td>
      </tr>
    </table>
  </div>

</div>

