<mat-card class="row no-gutters">
  <div class="top-container">
    <div class="col-4 left">
      <div class="det">
        <span>ADD / EDIT EXAMS</span>
      </div>
    </div>
    <div class="col-8 right">
      <button mat-raised-button class="allocate red">Assign for Scanning</button>
      <button mat-raised-button class="allocate red">Assign for Evaluation</button>
      <button mat-raised-button class="allocate green">Save Exam</button>
    </div>
  </div>
</mat-card>

<mat-card>
  <form>
    <div class="row">
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="subject-code">Subject Code</label>
          <mat-form-field appearance="fill" class="form-field" class="select">
            <mat-label>Select Subject Code</mat-label>
            <mat-select id="role" formControlName="role">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="class">Class</label>
          <input type="text" id="class" matInput placeholder="Type your class name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="semester">Semester</label>
          <input type="text" id="semester" matInput placeholder="Typer your semester">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="exam-name">Exam Name</label>
          <input type="text" id="exam-name" matInput placeholder="Type your exam name">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="standard">
          <label for="">Exam Date</label>
          <!-- <mat-label>Choose a date</mat-label> -->
          <input matInput [matDatepicker]="picker" placeholder="Select Exam Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
          <mat-form-field appearance="standard">
            <label for="result-date">Result Date</label>
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="result" placeholder="Select Result Date">
            <mat-datepicker-toggle matSuffix [for]="result"></mat-datepicker-toggle>
            <mat-datepicker #result></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="total-compies">Total Students/ Copies</label>
          <input type="number" id="total-compies" matInput placeholder="Enter copies">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="total-marks">Total Marks</label>
          <input type="number" id="total-marks" matInput placeholder="Enter marks">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field floatLabel="never" appearance="standard">
          <label for="comments">Comments</label>
          <input type="text" id="comments" matInput placeholder="Type Comments here">
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>