<div class="row no-gutters">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <mat-card class="example-card">
      <div class="row field-container">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <label for="uname" class="form-label">Username</label> <br>
          <input type="text" id="uname" placeholder="Type your username here" class="form-field">
        </div>
      </div>
      <div class="row field-container">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <label for="email" class="form-label">Email</label> <br>
          <input type="email" id="email" placeholder="Type your email here" class="form-field">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <label for="role" class="form-label">Role</label> <br>
          <input type="text" id="role" placeholder="Type your name here" class="form-field">
        </div>
      </div>
      <div class="row field-container">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <!-- <label for="password" class="form-label">Password</label> <br>
          <input type="password" id="password" placeholder="Type your password here" class="form-field"> -->
          <label for="password" class="form-label">Password</label> <br>
          <input placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" class="form-field" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <label for="status" class="form-label">Status</label> <br>
          <input type="text" id="status" placeholder="Type your status here" class="form-field">
        </div>
      </div>
      <div class="row field-container btn-container">
        <button mat-raised-button class="allocate">Save User</button>
      </div>
    </mat-card>
    
  </div>
</div>
