<div class="row no-gutters">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <mat-card class="example-card">
      <div class="row field-container">
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
      </div>
      <div class="row field-container">
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
      </div>
      <div class="row field-container">
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
        <div class="col-6">
          <label for="fname" class="form-label">Full Name</label> <br>
          <input type="text" id="fname" placeholder="Type your name here" class="form-field">
        </div>
      </div>
    </mat-card>
    
  </div>
</div>
