<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 ex">
    <mat-card class="example-card">

      <form [formGroup]="userDetail" (ngSubmit)='onSubmit()'>
        <div class="row field-container">

          <div class="col-12">
            <label for="password" class="form-label">Current Password</label> <br>
            <mat-form-field class="form-field" floatLabel="never">
              <input matInput type="password" id="password" placeholder="Type your Password here" formControlName="password" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row field-container">

          <div class="col-12">
            <label for="new-pass" class="form-label">New Password</label> <br>
            <mat-form-field class="form-field" floatLabel="never">
              <input matInput type="password" id="new-pass" placeholder="Type New Password here" formControlName="newPass" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row field-container">

          <div class="col-12">
            <label for="pswrd" class="form-label">Confirm New Password</label> <br>
            <mat-form-field class="form-field" floatLabel="never">
              <input matInput type="password" id="pswrd" placeholder="Re - Type New Password" formControlName="cPass" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row field-container btn-container">
          <button mat-raised-button class="allocate">Save User</button>
        </div>
      </form>

    </mat-card>
  </div>
</div>
