<mat-dialog-content class="mat-typography">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <mat-card>
        <form>
          <div class="row">
            <div class="col-2">
              <h2 mat-dialog-title>Edit Question</h2>
            </div>
            <div class="col-10">
              <mat-dialog-actions align="end" style="margin-bottom: 50px">
                <button mat-button class="green-btn" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
                <button mat-button class="red-btn" mat-dialog-close>Close</button>
              </mat-dialog-actions>
            </div>
          </div>

          <div class="row">

            <div class="col-1">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="Question#">Question#</label>
                <input type="number" id="Question#" matInput>
              </mat-form-field>
            </div>

            <div class="col-3">
              <label for="QuestionType" class="form-label">Question Type</label> <br>
              <mat-form-field floatLabel="never" appearance="standard">
                <mat-label>Select Your Type..</mat-label>
                <mat-select id="QuestionType" formControlName="QuestionType">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="MainQuestionMarks">Main Question Marks</label>
                <input type="number" id="MainQuestionMarks" matInput>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="SubQuestionTotal">Sub Question Total</label>
                <input type="number" id="SubQuestionTotal" matInput>
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="TotalMarks">Total Marks</label>
                <input type="number" id="TotalMarks" matInput>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="Question">Question</label>
                <input type="text" id="Question" matInput>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="IdealAnswer">Ideal Answer</label>
                <input type="text" id="IdealAnswer" matInput>
              </mat-form-field>
            </div>

          </div>

        </form>
      </mat-card>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">

      <mat-card>
        <form>
          <div class="row">
            <div class="col-2">
              <h2 mat-dialog-title>Sub Question</h2>
            </div>
            <div class="col-10">
              <mat-dialog-actions align="end" style="margin-bottom: 50px">
                <button mat-button class="green-btn" mat-dialog-close>Add Sub Question</button>
              </mat-dialog-actions>
            </div>
          </div>

          <div class="row">

            <div class="col-4">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="SubQuestionId">Sub Question Id</label>
                <input type="number" id="SubQuestionId" matInput>
              </mat-form-field>
            </div>

            <div class="col-4">
              <label for="SubQuestionType" class="form-label">Sub Question Type</label> <br>
              <mat-form-field floatLabel="never" appearance="standard">
                <mat-label>Select Your Type..</mat-label>
                <mat-select id="SubQuestionType" formControlName="SubQuestionType">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="SubMainQuestionMarks">Sub Question Marks</label>
                <input type="number" id="SubMainQuestionMarks" matInput>
              </mat-form-field>
            </div>



            <div class="col-12">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="SubQuestion">Sub Question</label>
                <input type="text" id="SubQuestion" matInput>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field floatLabel="never" appearance="standard">
                <label for="IdealAnswer2">Ideal Answer</label>
                <input type="text" id="IdealAnswer2" matInput>
              </mat-form-field>
            </div>

          </div>

        </form>
      </mat-card>

    </div>
  </div>


</mat-dialog-content>

