<div class="containar">
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="ExamCode">
        <th mat-header-cell *matHeaderCellDef> Exam Code</th>
        <td mat-cell *matCellDef="let element">{{element.ExamCode}} </td>
      </ng-container>

      <ng-container matColumnDef="SubjectCode">
        <th mat-header-cell *matHeaderCellDef> Subject Code</th>
        <td mat-cell *matCellDef="let element">{{element.SubjectCode}} </td>
      </ng-container>

      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef> Subject Name</th>
        <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
      </ng-container>

      <ng-container matColumnDef="ExamName">
        <th mat-header-cell *matHeaderCellDef> Exam Name</th>
        <td mat-cell *matCellDef="let element">{{element.ExamName}} </td>
      </ng-container>

      <ng-container matColumnDef="ExamDate">
        <th mat-header-cell *matHeaderCellDef> Exam Date</th>
        <td mat-cell *matCellDef="let element"> {{element.ExamDate}} </td>
      </ng-container>

      <ng-container matColumnDef="ResultDate">
        <th mat-header-cell *matHeaderCellDef> Result Date</th>
        <td mat-cell *matCellDef="let element"> {{element.ResultDate}} </td>
      </ng-container>

      <ng-container matColumnDef="NumberofCopies">
        <th mat-header-cell *matHeaderCellDef> Number of Copies</th>
        <td mat-cell *matCellDef="let element"> {{element.NumberofCopies}} </td>
      </ng-container>

      <ng-container matColumnDef="ScannedCopies">
        <th mat-header-cell *matHeaderCellDef> Scanned Copies</th>
        <td mat-cell *matCellDef="let element"> {{element.ScannedCopies}} </td>
      </ng-container>

      <ng-container matColumnDef="EvaluatedCopies">
        <th mat-header-cell *matHeaderCellDef> Evaluated Copies</th>
        <td mat-cell *matCellDef="let element"> {{element.EvaluatedCopies}} </td>
      </ng-container>


      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><a href="#"><img src="./assets/edit.png" alt="edit icon"></a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>

