<div class="containar">
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="subjectCode">
        <th mat-header-cell *matHeaderCellDef> Subject Code</th>
        <td mat-cell *matCellDef="let element">{{element.subjectCode}} </td>
      </ng-container>

      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef> Subject Name</th>
        <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
      </ng-container>

      <ng-container matColumnDef="subjectClass">
        <th mat-header-cell *matHeaderCellDef> Subject Class</th>
        <td mat-cell *matCellDef="let element">{{element.subjectClass}} </td>
      </ng-container>

      <ng-container matColumnDef="examinationYear">
        <th mat-header-cell *matHeaderCellDef> Examination Year</th>
        <td mat-cell *matCellDef="let element"> {{element.examinationYear}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><a href="#"><img src="./assets/edit.png" alt="edit icon"></a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>

