.card-container {
  margin-top: 25px;
}

.container-fluid {
  overflow: scroll;
  height: 65%;
  width: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #038081;
  border-radius: 20px;
}
