mat-card {
  margin: 25px 15px 0px 15px;
  background-color: #f4fdfa;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);

  .top-container {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  
    .left {
      color: #038081;
      font-weight: 400;

      .det {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    .right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  
      .allocate {
        // width: 200px;
        height: 50px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        background: #038081;
        // border-radius: 36.5px; 
        margin-left: 12px;
      }
    }
  }
}
.question {
  // background-color: #F3FCFC;
  margin: 15px;
  height: 90vh;
  //width: 100%;
  overflow: scroll;
  border: 1px solid #038081;
  box-sizing: border-box;
  border-radius: 13px;
}

.pdf {
  background-color: #F3FCFC;
  margin: 15px;
  height: 90vh;
  border: 1px solid #038081;
  box-sizing: border-box;
  border-radius: 13px;
  //width: 100%;
}
