::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #038081;
  border-radius: 20px;
}

.example-container {
  height: 100%;
  overflow: auto;
  border-radius: 25px !important;
}

.containar {
  position: relative;
  width: 92%;
  height: 41%;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #F3FCFC;
  margin-top: 55px;
  border-radius: 25px;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #F3FCFC;
}

tr:nth-child(even) {
  margin-top: 10px;
  background-color: #E1F9F1;
}

tr {
  border: 5px solid white;
}

th {
  background-color: teal;
  color: white;
}

th:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

th:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

td:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

td:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  text-decoration: none;
}

td a {
  color: #038081;

}
