<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>EXAM NAME : MAC-CFY6-Q5HK-GG0V</mat-card-title>
    <mat-card-subtitle>TOTAL COPIES  : 250</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row"> 
      <div class="col-6 spinner-container">
        <span>
          <app-dashboard-spinner ></app-dashboard-spinner>
          <div style="position:relative; top: -45px; left: 35px; font-weight: bold;">
            50%
        </div>
        </span>
        <span class="spinner-text">Assigned for <br> Scanning</span>
      </div>
      <div class="col-6 spinner-container">
        <span>
          <app-dashboard-spinner ></app-dashboard-spinner>
          <div style="position:relative; top: -45px; left: 35px; font-weight: bold;">
            50%
          </div>
        </span>
        <span class="spinner-text">Scanned</span>
      </div>
      <div class="col-6 spinner-container">
        <span>
          <app-dashboard-spinner ></app-dashboard-spinner>
          <div style="position:relative; top: -45px; left: 35px; font-weight: bold;">
            50%
          </div>
        </span>
        <span class="spinner-text">Assigned <br> for <br> Evaluation</span>
      </div>
      <div class="col-6 spinner-container">
        <span>
          <app-dashboard-spinner ></app-dashboard-spinner>
          <div style="position:relative; top: -45px; left: 35px; font-weight: bold;">
            50%
          </div>
        </span>
        <span class="spinner-text">Assigned <br> for <br> Evaluation</span>
      </div>
      
    </div>
    
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>